{% extends "eshop/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Product info
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="http://127.0.0.1:8000/media/{{product.product_image}}" width="400" class="rounded justify-left" alt="product.name">
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item "><h3>{{product.name}}</h3></li>
                <li class="list-group-item"><h4>Price: Rs {{product.price}}</h4></li>
                <li class="list-group-item">{{product.description}}</li>
                <li class="list-group-item"><span style="align-items: end;" class="badge bg-secondary"><h5>{{product.category}}</h5></span></li>

                <li class="list-group-item">
                    <form method="POST">{% csrf_token %}
                        <input type="hidden" name="pid" value="{{product.id}}">
                        <button type="submit" name="add_to_cart" class="btn btn-primary">Add to Cart</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    
</div>
{% endblock %}
